html {
  scroll-behavior: smooth;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.brand-logo {
  display: contents !important;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
  float: right !important;
}

.nav-menu li {
  width: 110px;
  text-align: center;
}

.parallax-container {
  min-height: 430px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.gradient-blue {
  background: rgb(3,148,199);
  background: linear-gradient(90deg, rgba(3,148,199,1) 44%, rgba(159,218,255,0.9587185215883228) 100%);
}

.official-logo {
  width: auto;
  height: 35px;
}

.company-description,
.justify-content {
  text-align: justify;
  text-justify: inter-word;
}

footer li {
  margin: 8px 0 8px 0;
}

footer p,
footer li:not(.newsletter-list) {
  opacity: .8;
  font-weight: 500;
}

.footer-copyright {
  font-weight: 500;
  background-color: rgba(51, 51, 51, .2) !important;
}

.footer-divider {
  border-top: 1px solid white;
}

nav ul li.active a {
  background-color: #00bff3;
  color: white;
}

nav ul li a {
  font-weight: 500;
  color: rgba(0, 0, 0, .5);
}

.social-media-icons {
  height: 20px;
  margin-right: 10px;
}

.footer-copyright .bg-icon {
  height: 35px;
  width: 35px;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.services-header {
  height: 60px;
}

.services-header h5 {
  font-weight: 700;
  color: #424242 !important;
}

.services-main,
.about-header,
.contact-us-header {
  color: #424242;
}

.services-container {
  margin-bottom: -41px;
}

.services-descsription,
.about-description {
  text-align: justify;
  text-justify: inter-word;
  font-weight: 500;
  opacity: .85;
}

.about-description {
  opacity: 1;
}

.opacity-6 {
  opacity: .6;
}

.porfolio-header {
  color: #424242;
  font-weight: 600;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer h5 {
  font-weight: 600;
}

footer.page-footer {
  margin: 0;
  position: relative;
  z-index: 0;
  background-color: rgba(3,148,199,1);
}

footer.page-footer:after {
    background: url('../assets/img/1150-logo-white-padded-new.png')top 0 left 0 repeat, url('../assets/img/1150-logo-white-padded-new.png')top 184px left 165px repeat;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .05;
    background-size: 330px auto;
}

#about {
  background-image: url('../assets/img/abt-50.jpg');
  background-size: cover;
}

footer input {
    color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid rgba(163, 162, 160, .9) !important;
}

span.footer-soc-med {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding-top: 7px;
}
span.footer-soc-med img{
 display: block;
 margin: auto;
 width: 14px;
 height: 14px;
}

.card-content p {
  max-width: 450px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidenav li {
  line-height: 200px !important;
}